@page
@using System.Diagnostics
@model HellowRazor.Pages.ProcessModel
@{
    Process[] procs = ViewData["Procs"] as Process[];
}


<div>
    <h2>Process Page</h2>
    @foreach (var p in procs)
    {
        <div>@p.ProcessName</div>
    }
</div>
